
<head>

    <title>{{title}}</title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    {{!-- Mapbox --}}
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.css' rel='stylesheet' />
    <script
        src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css"
        type="text/css">

    {{!--implement Bootstrap --}}
    {{!-- <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" /> --}}
    {{!--Bootstrap CSS --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    {{!--implement font --}}
    <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet" />


    <!-- Add icon library -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    {{!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> --}}

</head>

<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
<div class="loginBox">
    <div class="limiter">
        <div class="container-landingpage">
            <div class="wrap-login100">
                <div class="wrap-login100-pic">
                    <img src="https://picsum.photos/500/550/" class="" />
                </div>
                <div class="login100-form">
                    <form action="/login" method="post">
                        <span class="login100-form-title p-b-26">
                            Welcome to <br>
                            <span class="styleLogo">BUCK <img src="./images/bucket.svg" /> IT</span>
                            <br>List
                        </span>
                        <p class="text-center"> Member Login</p>
                        <span class="login100-form-title p-b-48"> </span>
                        <!-- email -->
                        <div class="wrap-input100">
                            <input type="text" name="email" placeholder="email" class="input100" required />
                            <span class="focus-input100" data-placeholder="Email"></span>
                        </div>
                        <!-- password -->
                        <div class="wrap-input100">
                            <input type="password" name="password" placeholder="password" class="input100" id="myInput"
                                required />
                            <span class="focus-input100" data-placeholder="Password"></span>
                        </div>
                        <div>
                            <input type="checkbox" onclick="myFunction()" /> Show Password
                        </div>
                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>

                                <button class="login100-form-btn" type="submit" />
                                Login
                                </button>
                            </div>
                        </div>
                        {{#each messages}}
                        <p style="color: red;">{{this}}</p>
                        {{/each}}
                    </form>
                    <div class="text-center p-t-115">
                        <span class="txt1">
                            Don’t have an account?
                        </span>

                        <a class="txt2" href="/signup">
                            Sign Up
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="dropDownSelect1"></div>
</div>
<!-- LOGIN End -->