LOG-IN
<form action="/login" method="post">
    <input type="text" name="email" placeholder="email">
    <br>
    <input type="password" name="password" placeholder="password">
    <button type="submit">Login</button>
    {{messages}}
    {{#each messages}}
    <h4 style="color: red;">{{this}}</h4>
    {{/each}}
</form>