<br>

{{!-- <i>There is a navbar</i> --}}

<div class="row justify-content-center">
    <div class="card text-center add-card" style=" width: 25rem;">

        <form action="/locations" method="POST" data-toggle="validator">
            {{!-- TITLE FIELD --}}
            <div class="card-body">
                <div class="form-group">
                    <div class="input-group-prepend">
                        {{!--  <label class="input-group-text" for="inputGroupSelect01">Choose your next destination:</label> --}}
                        {{!-- <input class="form-control" type="text" name="title" placeholder="e.g. Go to the Grandcanyon"
                            required> --}}
                    </div>
                </div>
            </div>
            {{!-- GEOLOCATOR FIELD --}}
            <div class="card-body">
                <div class="form-group">
                    <div class="input-group-prepend">
                        <div id='map' style='width: 400px; height: 400px;'>
                            <script>
                                mapboxgl.accessToken = process.env.mapbox_gl_accessToken
                                { { !-- 'pk.eyJ1IjoiZXhhbXBsZXMiLCJhIjoiY2p0MG01MXRqMW45cjQzb2R6b2ptc3J4MSJ9.zA2W0IkI0c6KaAhJfk9bWg'; --} }
                                var map = new mapboxgl.Map({
                                    container: 'map',
                                    style: 'mapbox://styles/mapbox/streets-v11',
                                    center: [-77.06, 38.0],
                                    zoom: 13
                                });

                                var geocoder = new MapboxGeocoder({
                                    accessToken: mapboxgl.accessToken,
                                    mapboxgl: mapboxgl
                                });

                                map.addControl(geocoder, 'top-left');

                                map.on('load', function () {

                                    // Listen for the `geocoder.input` event that is triggered when a user
                                    // makes a selection
                                    geocoder.on('result', function (ev) {

                                        document.getElementById("location-name").value = ev.result.place_name;

                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <input id="location-name" name="location" type="hidden" value=""> {{!-- hidden input for mapBox --}}
            {{!-- DEADLINE FIELD --}}
            <div class="card-body">
                <div class="form-group">
                    <div class="input-group-prepend">
                        <label for="inputGroupSelect01" class="input-group-text" required>Deadline:</label>
                        <input class="form-control" type="date" name="expireDate" value="todays-date"
                            id="example-date-input" required>
                    </div>
                </div>
            </div>
            {{!-- PLAN FIELD --}}
            <div class="card-body">
                <div class="form-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Plan:</label>
                        <textarea class="form-control" name="plan" placeholder="What's the plan?" rows="10"
                            cols="30"></textarea>
                    </div>
                </div>
            </div>

            {{!-- CHECKBOX --}}
            <div class="card-body">
                <div class="form-group">
                    Check off my Buckit List: <input type="checkbox" name="">
                </div>
            </div>
            <button type="submit" class="btn btn-dark mt-auto"> Add to My Buckit</button>
        </form>
        <br>
    </div>
</div>
</div>