<form action="/profiles" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="description" placeholder="description">
    <button type="submit"> SUBMIT</button>

</form>