<form action="/users/{{user._id}}" method="post">
    <input type="text" name="name" value={{user.username}}>
    <input type="text" name="email" value={{user.email}}>
    <input type="password" name="password" placeholder="password">
    <input type="text" name="imageUrl" value={{user.imageUrl}}>
    <button type="submit"> Update and Upload</button>

</form>