<h4>Edit your Buckit Item (Experience)</h4>


<h1>{{this.title}}</h1>
<form action="/profile/{{this._id}}" method="post">
  <input type="text" name="title" value="{{this.title}}">
  <input type="text" name="plan" value="{{this.plan}}">
  <button type="submit">SUBMIT</button>
</form>