{{!-- 
WRONG CONNECTIONS: EXPERIENCES doesn't work and locations shows experiences --}}
<hr>
<div class="container container-profile">
    <div class="row">

        <div class="col-sm-12" style="text-align:center;">
            <br>
            <h1>Hi {{user.username}}!</h1>
            <h4>Check out the community's latest ideas:</h4>
            <br>
        </div>
    </div>
</div>
{{!-- Experience List --}}
<div class="container container-feed">
    <div class="row">
        <div class="col-sm-6">
            {{#each experiences}}
            <div class="card mb-3 border-exp" style="max-width: 20rem;">

                <div class="card-body">


                    {{> eachExperience this }}
                    <div class="col text-center">
                        <a class="btn btn-outline-info" href="/experiences/{{this._id}}/add-comment" role="button"><i
                                class="fa fa-comment"> </i></a>
                    </div>

                </div>

            </div>
            {{/each}}
        </div>
        {{!-- Location List  --}}


        <div class="col-sm-6">
            {{#each locations}}
            <div class="card border-dark mb-3" style="max-width: 20rem;">
                <div class="card-body">





                    {{> eachLocation this }}
                    <div class="col text-center">
                        <a class="btn btn-outline-info" href="/locations/{{this._id}}/add-comment" role="button"><i
                                class="fa fa-comment"> </i></a>
                    </div>
                </div>

            </div>
            {{/each}}
        </div>
    </div>