{{!-- <h1>Welcome {{#if user}} {{user.email}} {{else}} Stranger {{/if}} !</h1>

{{#if user}}
<a href="/logout">Log out</a>
{{else}}
<a href="/login">Log in</a>
<br>
<a href="/signup">Sign up</a>
{{/if}} --}}

{{!-- // fill in the feed here // --}}

<div class="loginBox landingpage">
    <div class="limiter landingpage">
        <div class="container-landingpage">
            <div class="wrap-login100">
                <div class="wrap-login100-pic">
                    <img src="https://picsum.photos/600/550/" class="" />
                </div>
                <div class="login100-form">
                    <form action="/login" method="post">
                        <span class="login100-form-title p-b-26">
                            Welcome to <br>
                            <span class="styleLogo">BUCK <img src="./images/bucket.svg" /> IT</span>
                            <br>List
                        </span>

                        <div class="welcome-text">
                            <p> A community in which you can share all the things you want to experience in your
                                lifetime.
                            </p>
                        </div>
                        <div class="container footer">
                            <div class="row justify-content-center">
                                <div class="">
                                    <div class="container-login100-form-btn">
                                        <div class="wrap-login100-form-btn">
                                            <div class="login100-form-bgbtn"></div>

                                            <button class="login100-form-btn" type="submit" />
                                            <a class="landing" href="/login"> Login</a>
                                            </button>

                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="container-login100-form-btn">
                                            <div class="wrap-login100-form-btn">
                                                <div class="login100-form-bgbtn"></div>
                                                <button class="login100-form-btn" type="submit" />
                                                <a class="landing" href="/signup"> Sign Up</a>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                </div>
            </div>

            <div id="dropDownSelect1"></div>
        </div>