<head>

    <title>{{title}}</title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    {{!-- Mapbox --}}
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.css' rel='stylesheet' />
    <script
        src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css"
        type="text/css">

    {{!--implement Bootstrap --}}
    {{!-- <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" /> --}}
    {{!--Bootstrap CSS --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    {{!--implement font --}}
    <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet" />


    <!-- Add icon library -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    {{!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> --}}

</head>
<div class="loginBox landingpage">
    <div class="limiter landingpage">
        <div class="container-landingpage">
            <div class="wrap-login100">
                <div class="wrap-login100-pic">
                    <img src="https://picsum.photos/600/550/" class="" />
                </div>
                <div class="login100-form">

                    <span class="login100-form-title p-b-26">
                        Welcome to <br>
                        <span class="styleLogo">BUCK <img src="./images/bucket.svg" /> IT</span>
                        <br>List
                    </span>

                    <div class="welcome-text">
                        <p> A community in which you can share all the things you want to experience in your
                            lifetime.
                        </p>
                    </div>
                    <div class="container footer">
                        <div class="row justify-content-center">
                            <div class="">
                                <div class="container-login100-form-btn">
                                    <div class="wrap-login100-form-btn">
                                        <div class="login100-form-bgbtn"></div>
                                        <form class="form" action="/login">
                                            <button class="login100-form-btn landingButton" type="submit" />
                                            Login
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="container-login100-form-btn">
                                        <div class="wrap-login100-form-btn">
                                            <div class="login100-form-bgbtn"></div>
                                            <form class="form" action="/signup">
                                                <button class="login100-form-btn landingButton" type="submit" />
                                                Sign Up
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>

            <div id="dropDownSelect1"></div>
        </div>