{{!-- already new navbar --}}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarsExample11">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">
            <b> GoBack</b>
            {{!-- http://localhost:3000/public/images/buttonBack.svg
                        http://localhost:3000/images/friends.svg --}}
            <img src="/images/buttonBack.svg">
            <!-- IMG  class="d-inline-block align-top" -->
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/feed" title="BuckIt Feed">
            <b> Feed</b><img src="/images/feed.svg" /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/people" title="Friends">
            <b> Friends</b><img src="/images/friends.svg" /></a>
        </li>
        <li>
          <a class="styleLogo" href="#"><span class="styleLogo">BUCK
              <img id="logo-navbar-middle" src="/images/bucket.svg" width="50"
                alt="Logo Thing main logo" />IT</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile" title="Go to your Profile"><b>Profile</b><img
              src="/images/profile.svg" /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout" title="Logout">
            <b>Logout</b> <img src="/images/logout.svg" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{{!-- end navbar --}}

<div class="row justify-content-center">
  <div class="card text-center add-card" style=" width: 25rem;">

    <div class="card-body">
      <h5>Choose a gif for your Buckit Item</h5>
      <div class="form-group">
        <div class="input-group-prepend">
          <form action="/experiences/{{experience_id}}/search-gif" method="POST">
            <div class="card-body">
              <input class="form-control" type="text" name="giphy-query" placeholder="Search Random Gif." />
            </div>
            <div class="card-body">
              <input class="form-control btn btn-outline-info btn-profile" type="submit" value="Search" />
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card-body">
      <button class="btn btn-outline-info btn-profile" value="Refresh Page"
        onClick="window.location.reload();">SHUFFLE</button>
    </div>
    <div class="card-body">
      <div class="form-group">
        <div class="input-group-prepend">

          <form action="/experiences/{{experience_id}}/store-gif" method="POST">
            <div class="card-body">
              <input type="hidden" name="imageUrl" value={{searchResultUrl}}>
              {{#if searchResultUrl}}
              <img style=" width: 20rem;" src="{{searchResultUrl}}" />
              {{/if}}
            </div>
            <div class="card-body">
              <button class="btn btn-dark mt-auto" type="submit">SAVE GIF</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>