/* font */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
body {
  padding: 5px 20px 0px 20px;
  font: 14px "Poppins", sans-serif;
}

* {
  font: 14px "Poppins", sans-serif;
}
a {
  color: #00b7ff;
}
/*  nav start */
@media (min-width: 1000px) {
  .navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
  }
}
.navbar {
  height: 70px;
  border-bottom: purple;
  font: 14px "Poppins", sans-serif;
}

.navbar-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.nav-item li {
  font-size: 12pt;
  display: block;
  float: left;
  height: 90px;
  width: 145px; /*new*/
  text-align: center; /*new*/
  transition: all 0.6s ease-in-out;
}
/* make bold bold again */
b {
  font-weight: 700;
  color: black;
}
.navbar-nav li a {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 10px;
  color: #eee;
  text-decoration: none;
  display: block;
  padding: 0 10px;
}
.navbar-nav li img {
  padding: 0 10px;
}
.navbar-nav li b {
  padding: 5px 8px;
  display: none;
}

.nav-item a:hover img {
  display: none;
}
.nav-item a:hover b {
  display: block;
}
/*  nav end */

.styleLogo {
  font-family: "Mansalva", cursive;
  font-size: 13pt;
  color: black;
}
.error-message {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

/* loginBox start */
.loginBox {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background: #aabe98, #d1d8df;
  background: url("../images/bg-pattern.png"), #aabe98, #d1d8df;
  background: url("../images/bg-pattern.png"),
    linear-gradient(to left, #6e819a, #d1d8df);
}
.login100-pic {
  width: 316px;
}

/*---------------------------------------------*/
.loginBox a {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: grey;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

/* a:focus {
  outline: none !important;
} */

/*---------------------------------------------*/

.loginBox p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

.loginBox ul,
li {
  margin: 0px;
  list-style-type: none;
}

/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

/* .loginBox textarea {
  outline: none;
  border: none;
}

.loginBox textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #adadad;
}
input:-moz-placeholder {
  color: #adadad;
}
input::-moz-placeholder {
  color: #adadad;
}
input:-ms-input-placeholder {
  color: #adadad;
}

textarea::-webkit-input-placeholder {
  color: #adadad;
}
textarea:-moz-placeholder {
  color: #adadad;
}
textarea::-moz-placeholder {
  color: #adadad;
}
textarea:-ms-input-placeholder {
  color: #adadad;
} */

/*---------------------------------------------*/
.login100-form-btn {
  font-family: "Poppins", sans-serif;
  outline: none !important;
  border: none;
  background: transparent;
}

.login100-form-btn button:hover {
  cursor: pointer;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
}

.txt2 {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 1.5;
}

/*//////////////////////////////////////////////////////////////////
[ loginBox ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #6e819a, #6e819a);
  background: -o-linear-gradient(-135deg, #6e819a, #6e819a);
  background: -moz-linear-gradient(-135deg, #6e819a, #6e819a);
  background: linear-gradient(-135deg, #6e819a, #6e819a);
  background: #aabe98, #d1d8df;
  background: url("../images/bg-pattern.png"), #aabe98, #d1d8df;
  background: url("../images/bg-pattern.png");
}

.wrap-login100 {
  font-family: "Poppins", sans-serif;
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding: 150px 130px 80px 5px;
}
.wrap-login100-pic {
  display: flex;
  justify-content: center;
  padding-bottom: 0px;
}
.wrap-login100-pic img {
  will-change: transform;
  transform: perspective(300px) rotateX(0deg) rotateY(0deg);
  max-width: 80%;
  max-height: 80%;
  vertical-align: middle;
  border-style: none;
  /* -webkit-filter: grayscale(1);
  filter: grayscale(1); */
}
/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 290px;
  padding-bottom: 100px;
}

.login100-form-title {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #333;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 15px;
}
.login100-form-title i {
  font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  font-family: "Poppins", sans-serif;
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input100 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/
.focus-input100 {
  font-family: "Poppins", sans-serif;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #afa939;
  background: -webkit-linear-gradient(left, #aabe98, #d1d8df, #6e819a);
  background: -o-linear-gradient(left, #aabe98, #d1d8df, #6e819a);
  background: -moz-linear-gradient(left, #aabe98, #d1d8df, #6e819a);
  background: linear-gradient(left, #aabe98, #d1d8df, #6e819a);
}

.focus-input100::after {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;
  /* emailin field
  content: attr(data-placeholder); */
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*---------------------------------------------*/
.btn-show-pass {
  font: "Poppins", sans-serif;
  font-size: 15px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-show-pass:hover {
  color: #afa939;
  color: -webkit-linear-gradient(left, #aabe98, #d1d8df, #6e819a);
  color: -o-linear-gradient(left, #aabe98, #d1d8df, #6e819a);
  color: -moz-linear-gradient(left, #aabe98, #d1d8df, #6e819a);
  color: linear-gradient(left, #aabe98, #d1d8df, #6e819a);
}
.txt2:hover {
  color: #6e819a;
  color: -webkit-linear-gradient(left, #cfcdc6, #6e819a);
  color: -o-linear-gradient(left, #aabe98, #d1d8df, #6e819a);
  color: -moz-linear-gradient(left, #aabe98, #d1d8df, #6e819a);
  color: linear-gradient(left, #aabe98, #d1d8df, #6e819a);
}

.btn-show-pass.active {
  color: #afa939;
  color: -webkit-linear-gradient(left, #aabe98, #d1d8df, #6e819a);
  color: -o-linear-gradient(left, #aabe98, #d1d8df, #6e819a);
  color: -moz-linear-gradient(left, #aabe98, #d1d8df, #6e819a);
  color: linear-gradient(left, #aabe98, #d1d8df, #6e819a);
}
.zmdi {
  display: inline-block;
  font: "Poppins", sans-serif;
  font-size: 14px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-login100-form-btn {
  font-family: "Poppins", sans-serif;
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #afa939;
  background: -webkit-linear-gradient(
    right,
    #aabe98,
    #d1d8df,
    #6e819a,
    #aabe98,
    #d1d8df,
    #6e819a
  );
  background: -o-linear-gradient(
    right,
    #aabe98,
    #d1d8df,
    #6e819a,
    #aabe98,
    #d1d8df,
    #6e819a
  );
  background: -moz-linear-gradient(
    right,
    #aabe98,
    #d1d8df,
    #6e819a,
    #aabe98,
    #d1d8df,
    #6e819a
  );
  background: linear-gradient(
    right,
    #aabe98,
    #d1d8df,
    #6e819a,
    #aabe98,
    #d1d8df,
    #6e819a
  );
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 77px 15px 33px 15px;
  }
}

/* loginBox end */

/* profile start */

.btn-outline-info {
  color: #aabe98, #d1d8df;
  background-color: transparent;
  background-image: none;
  border-color: #6e819a;
  text-decoration: none;
}
.profile-bgbtn {
  background: #afa939;
  background: -webkit-linear-gradient(
    right,
    #aabe98,
    #d1d8df,
    #6e819a,
    #aabe98,
    #d1d8df,
    #6e819a
  );
  background: -o-linear-gradient(
    right,
    #aabe98,
    #d1d8df,
    #6e819a,
    #aabe98,
    #d1d8df,
    #6e819a
  );
  background: -moz-linear-gradient(
    right,
    #aabe98,
    #d1d8df,
    #6e819a,
    #aabe98,
    #d1d8df,
    #6e819a
  );
  background: linear-gradient(
    right,
    #aabe98,
    #d1d8df,
    #6e819a,
    #aabe98,
    #d1d8df,
    #6e819a
  );
  top: 0;
  left: -100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/* .profile-image {
  float: left;
  width: calc(33.333% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
  width: auto;
  padding: 10px 0px 0px 10px;
} */
.profile-image-avatar {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 60px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 60px;
  -moz-background-clip: padding;
  border-radius: 60px;
  background-clip: padding-box;
  margin: 20px 0 0 5px;
  float: left;
  background-size: cover;
  background-position: center center;
  border: 3px solid #6e819a;
  padding: 0;
}
.profile-info {
  flex-basis: calc(100% - 10.7rem);
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.profile-image img {
  border-radius: 50%;
  width: 7.7rem;
}
.container-profile {
  justify-content: space-between;
}
.profile-settings-btn {
  padding: 0;
  text-align: center;
  margin-left: 0;
}
.profile-bio {
  flex-basis: 100%;
  font-size: 1.4rem;
  margin-top: 1.5rem;
  width: auto;
  margin: 0;
}

/* profile end */
/* login start */
.container-landingpage {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #aabe98, #d1d8df;
  background: url("../images/bg-pattern.png"), #aabe98, #d1d8df;
  background: url("../images/bg-pattern.png"),
    linear-gradient(to left, #aabe98, #6e819a);
}
.container-items-profile {
  background: url("../images/bg-pattern.png");
  min-height: 600px;
}
.add-comment {
  margin-top: 50px;
}
.add-loc {
  margin-left: 15px;
}

/* a href still changing  */
.landing {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  outline: none !important;
  border: none;
  background: transparent;
}
.landing a {
  text-decoration: none;
}
/* login end */
/* /index items start */

/* /index items end */
/* color location experience start */
#color-loc {
  background-color: #fff979;
}

#color-exp {
  background-color: #fff979;
}

/* color location experience end */
/* feed  */
.container-feed {
  background: url("../images/bg-pattern.png");
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
/* about inspiration  */
.square {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
}
.container-about {
  padding-top: 15px;
}

/* search Bar */
.search-bar {
  width: 250px;
  justify-content: center;
}
