<div class="container container-profile">
    <div class="row">

        <div class="col-sm-12" style="text-align:center;">
            <br>

            <h4>If you ever wondered who are the persons behind this project, you can find the info in here.</h4>
            <br>
        </div>
    </div>
</div>
<div class="container container-about">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 20rem;   justify-content: center;
  align-items: center;">

                <div class="image-about" style="background-image: url(/images/LovelyLena.jpg); margin-top: 20px"></div>

                {{!-- 
                <div class="card image-about" style="width: 20rem;">
                    <img src="/images/Lovely Lena.jpg" class="card-img-top" alt="..."> --}}
                <div class="card-body">
                    <div class="card-header">
                        LENA (say: Leh-nah)
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Lena loves syntax and relationships in coding as well as (in)
                            the
                            analogue world.
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        {{!-- #1 --}}
        <div class="col-sm-4">
            <div class="card" style="width: 20rem;   justify-content: center;
  align-items: center;">

                <div class="image-about" style="background-image: url(/images/IMG_1143.jpeg); margin-top: 20px"></div>

                {{!-- <div class="card image-about" style="width: 20rem;">
                <div class="image-about">
                    <img src="/images/IMG_1143.jpeg" class="card-img-top" alt="...">
                </div> --}}
                <div class="card-body">
                    <div class="card-header">
                        FAIROUZ (say: Fay-rooz)
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> Mother. Daughter. Wife. Pink Poweranger. Diaper changer. Codes
                            Occassionally. When I grow up I want to be a developer.
                        </li>

                    </ul>
                </div>

            </div>
        </div>
        {{!-- #2 --}}
        <div class="col-sm-4">
            <div class="card" style="width: 20rem;   justify-content: center;
  align-items: center;">

                <div class="image-about" style="background-image: url(/images/chanty.png); margin-top: 20px"></div>
                {{!-- <img src="/images/chanty.png" class="card-img-top" alt="..." height="400"> --}}

                <div class="card-body">
                    <div class="card-header">
                        CHANTY (say: In-scha-lah)
                    </div>
                    <ul class="list-group list-group-flush">

                        <li class="list-group-item">Fluffy-jersey-lover. Backend-Frontend-Dancer. Bootstrap-B*. Shine
                            bright like a 💎.</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer font-small" style="margin-top:20px">
        <div class="container-fluid text-center text-md-left">
            Images from:
            <ul>
                <li>https://picsum.photos/
                </li>

                <li>http://placeimg.com/
                </li>

            </ul>
        </div>
    </footer>