{{!-- already new navbar --}}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarsExample11">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">
                        <b> GoBack</b>
                        <img src="./images/buttonBack.svg" />
                        <!-- IMG  class="d-inline-block align-top" -->
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/feed" title="BuckIt Feed">
                        <b> Feed</b><img src="./images/feed.svg" /></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/people" title="Friends">
                        <b> Friends</b><img src="./images/friends.svg" /></a>
                </li>
                <li>
                    <a class="styleLogo" href="#"><span class="styleLogo">BUCK
                            <img id="logo-navbar-middle" src="./images/bucket.svg" width="50"
                                alt="Logo Thing main logo" />IT</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile" title="Go to your Profile"><b>Profile</b><img
                            src="./images/profile.svg" /></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" title="Logout">
                        <b>Logout</b> <img src="./images/logout.svg" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{{!-- end navbar --}}
<div class="container container-about">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 20rem;">
                <img src="https://data.whicdn.com/images/245876797/original.gif" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-header">
                        LENA
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">#1: Cras justo odio Cras justo odio Cras justo odio Cras justo odio
                        </li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
        </div>
        {{!-- #1 --}}
        <div class="col-sm-4">
            <div class="card" style="width: 20rem;">
                <img src="https://data.whicdn.com/images/245876797/original.gif" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-header">
                        FAI
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">#1: Cras justo odio Cras justo odio Cras justo odio Cras justo odio
                        </li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
        </div>
        {{!-- #2 --}}
        <div class="col-sm-4">
            <div class="card" style="width: 20rem;">
                <img src="https://data.whicdn.com/images/245876797/original.gif" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-header">
                        chanty
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">#1: Cras justo odio Cras justo odio Cras justo odio Cras justo odio
                        </li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {{!-- sugesstion for inspiration --}}
    <div class="container container-about">
        <div class="row">
            <div class="col-sm">
                <div class="square" style="background-image: url('https://picsum.photos/200')"></div>
            </div>
            <div class="col-sm">
                <div class="square" style="background-image: url('https://picsum.photos/seed/picsum/200')"></div>
            </div>
            <div class="col-sm">
                <div class="square" style="background-image: url('https://loremflickr.com/200/200')"></div>
            </div>
            <div class="col-sm">
                <div class="square" style="background-image: url('https://loremflickr.com/200/200/brazil,rio')"></div>
            </div>

        </div>
    </div>