{{!-- sugesstion for inspiration --}}
<div class="container container-profile">
  <div class="row">

    <div class="col-sm-12" style="text-align:center;">
      <br>

      <h4>Don't know what to do next? <br>Find inspiration in here <br>

        <a href="" role="button" onClick="refreshPage()"><img src="/images/refresh-24px.svg"></a>
        <p>
          use the button if you are not happy </p>
      </h4> <br>
    </div>
  </div>
</div>


<script>
  function refreshPage() {
    window.location.reload();
  } 
</script>

<div class="container container-about">
  <div class="row" style="margin-bottom:10px">
    <div>
      Your next Destination:
    </div>
    <br>
    <div class="col-sm">

      <div class="square" style="background-image: url('https://picsum.photos/200')"></div>
    </div>
    <div class="col-sm">
      <div class="square" style="background-image: url('https://picsum.photos/seed/picsum/200')"></div>
    </div>
    <div class="col-sm">
      <div class="square" style="background-image: url('http://placeimg.com/200/200/nature')"></div>
    </div>
    <div class="col-sm">
      <div class="square" style="background-image: url('https://loremflickr.com/200/200/brazil,rio')"></div>
    </div>

  </div>

  <div class="row">
    <div>
      Your next Experience:
    </div>

    <div class="col-sm">

      <div class="square" style="background-image: url('http://placeimg.com/200/200/arch')"></div>
    </div>
    <div class="col-sm">
      <div class="square" style="background-image: url('http://placeimg.com/200/200/people')"></div>
    </div>
    <div class="col-sm">
      <div class="square" style="background-image: url('https://loremflickr.com/200/200')"></div>
    </div>
    <div class="col-sm">
      <div class="square" style="background-image: url('http://placeimg.com/200/200/tech)"></div>
    </div>
  </div>
</div>